{% macro errorSummary(errors) %}
<div class="error-summary" role="group" aria-labelledby="error-summary" tabindex="-1">

    <h1 class="heading-medium error-summary-heading" id="errorSummary">
    An error has occured
    </h1>
    <p>You must: </p>
    <ul class="error-summary-list">
        {% for key, value in errors %}
        <li><a href="#{{ value.param }}">{{ value.msg }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
