{% macro customerList(id, customers) %}
<table class="user-management-table">
    <thead>
        <tr>
            <th class="reduced-column"></th>
            <th>Name</th>
            <th>NINo</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>County</th>
        </tr>
    </thead>
    <tbody id="searchableTable">
    {% for customer in customers %}
        <tr class="drag-to-select" data-click="{{ id }}-{{ loop.index }}"
            data-search="{{ customer.lastName }} {{ customer.firstName }} {{ customer.nino }}"
        >
            <td class="reduced-column" data-click="{{ id }}-{{ loop.index }}" >
                <div class="multiple-choice">
                    <input
                        id="{{ id }}-{{ loop.index }}"
                        class="multi-select-checkbox"
                        type="checkbox" name="{{ id }}" 
                        value="{{ customer.nino }}"
                        {% if customer.nino %} 
                            data-target="{{ customer.nino }}"
                        {% endif %}
                    >
                    <label for="{{ id }}-{{ loop.index }}" aria-label="{{ customer.lastName }}">
                        &nbsp;
                    </label>
                </div>
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
				{{ customer.lastName }} {{ customer.firstName }}
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
                {{ customer.nino }}
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
                {{ customer.phone }}
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
                {{ customer.address.street }}
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
                {{ customer.address.city }}
            </td>
            <td class="table-click-helper" data-checkbox="{{ id }}-{{ loop.index }}">
                {{ customer.address.county }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endmacro %}
