<div class="sidebar-quicklinks-wrapper">
    <a class="sidebar-quicklink {% if activeView === 'new-customer' %}active-view {% endif %}" href="/new-customer">New claimant</a>
    <a class="sidebar-quicklink {% if activeView === 'customers' %}active-view {% endif %}" href="/customers">Manage claimants</a>
</div>
