{% extends "templates/macros/layout.njk" %}

{% import 'templates/macros/forms.njk' as forms %}
{% import 'templates/macros/tables.njk' as tables %}
{% import 'templates/macros/typography.njk' as typography %}
{% import 'templates/macros/errors.njk' as errorSummary %}
{% import 'templates/macros/success.njk' as successSummary %}

{% block page_title %}
    UC Migrate - Manage claimants
{% endblock %}

{% block content %}
<div class="flex-wrapper" role="main">
    <form class="form" action="/customers" method="post" autocomplete="off">
        <div class="side-bar">
            {{ forms.textInput('searchReducer', 'Filter list by name', '', false, false, false, false, 'full')}}
            <hr class="dividing-rule">
            {{ forms.selectInput('manageUsersAction', 'Choose an action', [
                {value: 'amendUser', label: 'Update user details'},
                {value: 'deleteUser', label: 'Delete User'},
                {value: 'reactivateUser', label: 'Reactivate user'}
            ], errors.manageUsersAction, true, false, 'full', false, true) }}
            {{ forms.submitInput('Submit')}}
            {% include 'templates/partials/sidebar/quicklinksAdmin.njk' %}
        </div>
        <main role="main" class="main-section">
            <div class="grid-row">
                <div class="column-two-thirds">
                    {% if errors %}
                    {{ errorSummary.errorSummary(errors) }}
                    {% endif %}

                    {% if successes %}
                    {{ successSummary.successSummary(successes) }}
                    {% endif %}

                    {{ typography.mainHeading('Manage claimants') }}
                    {{ typography.lede('Amend claimant details') }}
                </div>

                <div class="column-full">
                    {{ tables.customerList('userSelect', customers) }}
                </div>
            </div>
        </main>
    </form>
</div>
{% endblock %}
