{% extends "templates/macros/layout.njk" %}

{% import 'templates/macros/forms.njk' as forms %}
{% import 'templates/macros/tables.njk' as tables %}
{% import 'templates/macros/typography.njk' as typography %}
{% import 'templates/macros/errors.njk' as errorSummary %}
{% import 'templates/macros/success.njk' as successSummary %}

{% block page_title %}
    UC Migrate - Manage customers
{% endblock %}

{% block content %}
<div class="flex-wrapper" role="main">
		<div class="side-bar">
      {% include 'templates/partials/sidebar/search.njk' %}
    </div>
    <main role="main" class="main-section">
        <div class="grid-row">
            <form class="form" action="/admin/manage-users" method="post" autocomplete="off">
                
                <div class="column-two-thirds">
                    {% if errors %}
                    {{ errorSummary.errorSummary(errors) }}
                    {% endif %}

                    {% if successes %}
                    {{ successSummary.successSummary(successes) }}
                    {% endif %}

                    {{ typography.mainHeading('Manage users') }}
                    {{ typography.lede('Remove and amend users of the Transfers Management System') }}
                </div>

                <div class="column-full">
                    <div class="column-half">
                        {{ forms.textInput('searchReducer', 'Filter list by name', '', false, false, false, false, 'full')}}
                    </div>
                    <div class="column-half">
                        {{ forms.selectInput('manageUsersAction', 'Choose an action', [
                            {value: 'amendUser', label: 'Update user details'},
                            {value: 'deleteUser', label: 'Delete User'},
                            {value: 'reactivateUser', label: 'Reactivate user'}
                        ], errors.manageUsersAction, true, false, 'full', false, true) }}
                        {{ forms.submitInput('Submit')}}
                    </div>
                    {{ tables.customerList(customers) }}
                    {{ forms.hiddenInput('_csrf', _csrf) }}
                </div>
            </form>
        </div>
    </main>

</div>
{% endblock %}
