{% extends "templates/macros/layout.njk" %}

{% import 'templates/macros/forms.njk' as forms %}
{% import 'templates/macros/tables.njk' as tables %}
{% import 'templates/macros/typography.njk' as typography %}
{% import 'templates/macros/errors.njk' as errorSummary %}
{% import 'templates/macros/success.njk' as successSummary %}

{% block page_title %}
    UC Migrate - Edit customer
{% endblock %}

{% block content %}
<div class="flex-wrapper" role="main">
    <div class="side-bar">
        {% include 'templates/partials/sidebar/quicklinksAdmin.njk' %}
    </div>
    <main role="main" class="main-section">
        <div class="grid-row">
          <form class="form" action="/edit-customer/{{ customer.nino }}" method="POST">
                <div class="column-two-thirds">
                    {% if errors %}
                    {{ errorSummary.errorSummary(errors) }}
                    {% endif %}

                    {% if successes %}
                    {{ successSummary.successSummary(successes) }}
                    {% endif %}

                    {{ typography.mainHeading('Edit Customer') }}
                    {{ typography.lede('View/Update the details of an existing customer') }}
                    {{ errors | dump }}
                </div>
                <div class="column-two-thirds">
                    {{ forms.textInput('lastName', 'lastName', customer.lastName, '' , true, false, true, false) }}
                    {{ forms.textInput('firstName', 'First name', customer.firstName, '', true, false, true, false)}}
                    {{ forms.textInput('nino', 'NiNo', customer.nino, '', true, false, true, false)}}
                    {{ forms.textInput('phone', 'Phone', customer.phone)}}
                    {{ forms.textInput('street', 'Street', customer.address.street)}}
                    {{ forms.textInput('city', 'City', customer.address.city)}}
                    {{ forms.textInput('county', 'County', customer.address.county)}}
                    {{ forms.submitInput('Submit') }}
                </div>
          </form>
        </div>
    </main>

</div>
{% endblock %}